@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'poppine';
  src: url('/fonts/poppine-v22-latin-regular.woff2') format('woff2');
  font-weight: 700; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family:'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-weight: 700; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'BonVivant';
  src: url('/fonts/BonVivant-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BonVivant';
  src: url('/fonts/BonVivantSerif.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BonVivant';
  src: url('/fonts/BonVivantSerifBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}
